<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <servlet>
        <servlet-name>InvalidateSessionServlet</servlet-name>
        <servlet-class>webdev.project.first.InvalidateSessionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>InvalidateSessionServlet</servlet-name>
        <url-pattern>/api/invalidate_session_servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>login_servlet</servlet-name>
        <servlet-class>webdev.project.first.login_servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>login_servlet</servlet-name>
        <url-pattern>/api/login_servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>get_login_servlet</servlet-name>
        <servlet-class>webdev.project.first.get_login_servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>get_login_servlet</servlet-name>
        <url-pattern>/api/get_login_servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NameListModify</servlet-name>
        <servlet-class>webdev.project.first.NameListModify</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NameListModify</servlet-name>
        <url-pattern>/api/name_list_modify</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>NameListGet</servlet-name>
        <servlet-class>webdev.project.first.NameListGet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NameListGet</servlet-name>
        <url-pattern>/api/name_list_get</url-pattern>
    </servlet-mapping>

    
    <servlet>
        <servlet-name>NameListDelete</servlet-name>
        <servlet-class>webdev.project.first.NameListDelete</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NameListDelete</servlet-name>
        <url-pattern>/api/name_list_delete</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PasswordCheck</servlet-name>
        <servlet-class>webdev.writing.bruteforce.PasswordCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PasswordCheck</servlet-name>
        <url-pattern>/api/password_check</url-pattern>
    </servlet-mapping>

</web-app>